:root {
	--blue:  #3DB2FF;
	--lightpink: #FAEFEF;
	--orange: #fea02f;
}

body {
	background: rgb(255,148,23);
	background: linear-gradient(45deg, var(--orange), var(--blue)) no-repeat;
	height: 100vh;
}

a {
	color: white;
}

a:hover {
	color: white;
	text-decoration: none;

}

.navigation-bar {
	padding: 3% 12% 7% 12%;
	background-color: none;
	display: flex;
	justify-content: space-between;
}

.logo {
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	font-size: 2.5rem;
}

.nav-list {
	list-style: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0;
	padding: 0;
	
}

.nav-item {
	margin: 0 2rem;
}

.home-section {
	padding: 3% 12% 3% 12%;
	height: 100%;
	display: flex;
	align-items: center;
}

.home-left-section {
	width: 50%;
}

.home-right-section {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.createButton {
	background-color: var(--orange);
	text-decoration: none;
	border: none;
	padding: 4% 9%;
	font-weight: bold;
	font-size: 2rem;
	border-radius: 10rem;
}

.big-heading {
	color: white;
	font-size: 3rem;
	line-height: 1.5;
	font-weight: 900;
}

footer {
	color: white;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}