:root {
	--blue:  #3DB2FF;
	--lightpink: #FAEFEF;
	--orange: #fea02f;
}

body {
	background: rgb(255,148,23);
	background: linear-gradient(45deg, var(--orange), var(--blue)) no-repeat;
	height: 100vh;
}

.navbar {
	padding: 2% 12% 2% 12%;
}

.navbar-brand {
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	font-size: 2.5rem;
}

.home-section {
	padding: 10% 12% 2% 12%;
}

.big-heading {
	color: white;
	font-size: 3rem;
	line-height: 1.5;
	font-weight: 900;
}

footer {
	color: white;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}