:focus {
  outline: none;
}

:root {
  --blue: #3db2ff;
  --lightpink: #faefef;
  --orange: #fea02f;
}

html {
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  background: #efefef;
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  padding: 0;
}

#root {
	position: relative;
	min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

button {
  cursor: pointer;
  display: block;
}

a,
a:hover {
  color: white;
  text-decoration: none;
}

/* NavBar */

.navbar {
  background: linear-gradient(45deg, var(--orange), var(--blue)) no-repeat;
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  align-items: center;
  position: relative;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

.logo {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-list {
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  list-style: none;
}

.nav-item a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  border: none;
  border-radius: 2rem;
}

.nav-item a:hover {
  background-color: white;
  color: var(--blue);
}

.hamburger {
  display: none;
}

@media (max-width: 750px) {
  .logo {
    margin: 1rem 1rem;
  }

  .hamburger {
    display: block;
    color: white;
    font-size: 2.5rem;
    position: absolute;
    right: 1rem;
    top: 1.25rem;
  }

  .navbar {
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-list {
		display: none;
    width: 100%;
    flex-direction: column;
    text-align: center;
  }

  .nav-item a {
    padding: 0.5rem 0;
    margin: 0;
    width: 100%;
    border-radius: 0;
  }

  .active {
    display: flex;
  }
}

/* Home Page */

.home-section {
  align-items: center;
  display: flex;
  height: 80vh;
  padding: 0% 12% 0% 12%;
}

.home-left-section {
  width: 50%;
}

.home-right-section {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 50%;
}

.create-button {
  background-color: var(--orange);
  border-radius: 3rem;
  border: none;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 2rem;
  text-decoration: none;
}

.big-heading {
	color: #1a488e;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
}

@media (max-width: 750px) {
  .home-section {
    flex-direction: column;
    text-align: center;
  }

  .home-left-section,
  .home-right-section {
    width: 100%;
  }
}

/* Create Poll */
.create-form {
  padding: 3% 12% 3% 12%;
}

.create-label {
  font-weight: bold;
  margin: 1rem 0 0 0;
}

.submit {
  background-color: var(--orange);
  border-radius: 3rem;
  border: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 auto;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
}

.add {
  background-color: var(--orange);
  border-radius: 3rem;
  border: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
  margin: 1rem 0;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
}

.create-form input {
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px #ccc;
  height: 1.5rem;
  margin: 0.5rem 0.5rem 0.5rem 0;
  padding: 0.25rem 0.75rem;
  width: 100%;
}

.option input {
  width: 50%;
}

.remove {
  align-items: center;
  background-color: lightgrey;
  border-radius: 4px;
  border: none;
  display: flex;
  height: 2rem;
  justify-content: center;
  width: 2rem;
}

.option {
  align-items: center;
  display: flex;
}

/* Stats */
.stats {
	position: relative;
	height: 75vh;
	padding: 0 10%;
}

/* Footer */

footer {
	position: absolute;
	bottom: 0;
  text-align: center;
  width: 100%;
}

/* Loader */

.loader {
	width: 75px;
	height: 75px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 50vh auto;
	background: url(../images/load.gif) no-repeat;
	opacity: 0.5;
	background-size: contain;
}
